<template>
  <v-row justify="center">
    <v-col>
      <QuizComponent/>
    </v-col>
  </v-row>
</template>

<script>
// @ is an alias to /src
import QuizComponent from '@/components/QuizComponent.vue'

export default {
  name: 'Quiz',
  components: {
    QuizComponent
  }
}
</script>
