<template>
<v-row justify="center">
    <v-col>
      <ResultComponent/>
    </v-col>
  </v-row>
</template>

<script>
// @ is an alias to /src
import ResultComponent from '@/components/ResultComponent.vue'

export default {
  name: 'Result',
  components: {
    ResultComponent
  }
}
</script>
