<template>

  <v-card class="mx-auto" max-width="800">
    <v-card-title>
      <v-row justify="center">
        <p class="display-2 font-italic font-weight-light">HOLA BICH</p>
      </v-row>
    </v-card-title>
    <v-card-text>
      <v-row align="center">
        <p class="text-justify body-1 text--primary">Comme tu n'as plus de PC, tu dois t'ennuyer ! Du coup, tes amis on fait un petit quiz pour t'occuper !</p>
      </v-row>
      <v-row>
        <p class="text-justify body-1 text--primary">Ta mission, si tu l'acceptes, sera de réussir à répondre à 20 questions sur tes amis sans fautes.</p>
      </v-row>
      <v-row>
        <p class="text-justify body-1 text--primary">C'est un QCM avec une seule bonne réponse à chaque fois. Chaque erreur te fait recommencer au début. Es-tu prêt à relever le challenge ?</p>
      </v-row>
      <v-row justify="center">
        <v-btn color="purple lighten-3" @click="$router.push('/quiz')">C'est parti ?</v-btn>
      </v-row>
    </v-card-text>
  </v-card>

</template>

<script>
  export default {
    name: 'HelloWorld',
    data: () => {
      return {}
    }
  }
</script>
