<template>
    <v-card class="mx-auto" max-width="800" elevation="18" :key="rendering">
    <v-card-title>
      <v-row justify="center">
        <p class="headline font-italic font-weight-light">Question par... {{questions[currentQuestion].author}}</p>
      </v-row>
    </v-card-title>
    <v-card-text style="margin-top: -30px;">
      <v-row>
        <p class="title font-weight-bold">{{questions[currentQuestion].question}}</p>
      </v-row>
      <v-row style="margin-top: -10px;">
        <v-col  cols="6">
          <v-sheet style="min-height:100%;min-width:100%;cursor: pointer;" color="red lighten-4" @click="checkAnswer(0)" elevation="3">
              <p class="text-center body-1 text--primary" style="">{{questions[currentQuestion].answers[0].text}}</p>
          </v-sheet>
        </v-col>
        <v-col  cols="6">
          <v-sheet style="min-height:100%;min-width:100%;cursor: pointer;" color="green lighten-3" @click="checkAnswer(1)" elevation="3">
              <p class="text-center body-1 text--primary" style="">{{questions[currentQuestion].answers[1].text}}</p>
          </v-sheet>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-sheet style="min-height:100%;min-width:100%;cursor: pointer;" color="yellow lighten-3" @click="checkAnswer(2)" elevation="3">
              <p class="text-center body-1 text--primary" style="">{{questions[currentQuestion].answers[2].text}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="6">
          <v-sheet style="min-height:100%;min-width:100%;cursor: pointer;"  color="blue lighten-3" @click="checkAnswer(3)" elevation="3">
              <p class="text-center body-1 text--primary" style="">{{questions[currentQuestion].answers[3].text}}</p>
          </v-sheet>
        </v-col>
      </v-row>
    </v-card-text>

    <v-progress-linear bottom :value="percent" color="purple" height="15">
      <template v-slot="{ value }">
        <span class="caption" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{ currentQuestion + 1 }} / {{ questions.length }}</span>
      </template>
      
    </v-progress-linear>



    <v-overlay :value="mySuccess">
       <v-card>
        <v-card-title>
          <v-row justify="center">
            <p>BRAVO !</p>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row justify="center">
            <p>Nous aussi on t'aime <3</p>
          </v-row>
          <v-row justify="center">
            <v-btn v-if="(currentQuestion + 1) !== questions.length" color="green" @click="mySuccess=false;next();">Question suivante</v-btn>
            <v-btn v-if="(currentQuestion + 1) === questions.length" color="green" @click="mySuccess=false;next();">J'ai terminé !</v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-overlay>



    <v-overlay :value="myError">
      <v-card>
        <v-card-title>
          <v-row justify="center">
            <p>FAUX !</p>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row justify="center">
            <p>Tu recommences au début, ami indigne :3</p>
          </v-row>
          <v-row justify="center">
            <v-btn color="red" @click="myError=false;back();">Je vais faire mieux !</v-btn>
          </v-row>
        </v-card-text>
      </v-card>
    </v-overlay>
  </v-card>
</template>

<script>
export default {
  name: 'QuizComponent',
  data: () => {
    return {
      rendering: 0,
      currentQuestion: 0,
      answerSelected: 0,
      mySuccess: false,
      myError: false,
      questions: [
        {
          author: "Arnaud",
          question: "Quel est le nom du premier livre que je t’ai offert ?",
          answers: [
            {
              text: "Suicide Island",
              correct: true,
            },
            {
              text: "La BIBLE",
              correct: false
            },
            {
              text: "Le Livre des Mormons",
              correct: false
            },
            {
              text: "Le Guide du Zizi Sexuel",
              correct: false
            }
          ]
        },
        {
          author: "Arnaud",
          question: "Lors de notre toute première rencontre, portais-je des lunettes ?",
          answers: [
            {
              text: "Oui évidemment ! ",
              correct: false,
            },
            {
              text: "Non",
              correct: true
            },
            {
              text: "Non, tu avais des lentilles !",
              correct: false
            },
            {
              text: "Ptdr t ki ?",
              correct: false
            }
          ]
        },
        {
          author: "Arnaud",
          question: "Quand nous étions en colocation, tu m’as appris à jouer à “Dragonball Budokai Tenkaichi 2” sur PS2 alors que je n’avais jamais joué à un jeu DBZ de ma vie. Au bout de combien de jours ai-je battu tes 5 persos d’affilés avec seulement Piccolo ?",
          answers: [
            {
              text: "Je ne sais pas, la douleur est encore trop récente...",
              correct: false,
            },
            {
              text: "CONNARD",
              correct: false
            },
            {
              text: "J’TE BAISE",
              correct: false
            },
            {
              text: "5 jours, mais je t’emmerde quand même.",
              correct: true
            }
          ]
        },
        {
          author: "Arnaud",
          question: "En temps de Bich, à combien de temps équivaut cinq minutes ?",
          answers: [
            {
              text: "Ben, 5 minutes, ah la question easy t’sais",
              correct: false,
            },
            {
              text: "1h15 très exactement, valable seulement après minuit à cause du phénomène de distorsion de conversation.",
              correct: true
            },
            {
              text: "Skatoupoupidou-papoumpidoumPA déso j’écoutais pas.",
              correct: false
            },
            {
              text: "69 minutes.",
              correct: false
            }
          ]
        },
        {
          author: "Morgane",
          question: "Si je hurle “BICHON-SAMAAAA”, que me réponds-tu ?",
          answers: [
            {
              text: "Encore une dingue de Japanimation...",
              correct: false,
            },
            {
              text: "Qu’est-ce que le fuck ?!",
              correct: false
            },
            {
              text: "MORGANE-CHAAAAAAN",
              correct: true
            },
            {
              text: "Obiwan Kenobi ?",
              correct: false
            }
          ]
        },
        {
          author: "Morgane",
          question: "A chaque boss de Dark Souls 2 vaincus, j’ai promis quelque chose à Arnaud... Quoi exactement ?",
          answers: [
            {
              text: "Tu l’encourages en nature 8D",
              correct: true,
            },
            {
              text: "Tu lui mets un doigt dans le pétou...",
              correct: false
            },
            {
              text: "Tu lui offres un service lavement deluxe au centre de retraités.",
              correct: false
            },
            {
              text: "Vous regardez Twilight en amoureux :3",
              correct: false
            }
          ]
        },
        {
          author: "Morgane",
          question: "Dans quel endroit de ton JDR as-tu fait galérer Arnaud et moi ?",
          answers: [
            {
              text: "Une salle de classe avec un prof de physique-chimie au charisme torride.",
              correct: false,
            },
            {
              text: "Un lupanar tout moisi du cul.",
              correct: false
            },
            {
              text: "Un putain de labyrinthe de brume hinhinhin je suis méchaaaaant !",
              correct: true
            },
            {
              text: "L’île de la Tenta-fion.",
              correct: false
            }
          ]
        },
        {
          author: "Morgane",
          question: "Quelle est la première chose que je faisais quand on venait te rendre visite ?",
          answers: [
            {
              text: "Tu me faisais un câlin !",
              correct: false,
            },
            {
              text: "Tu faisais un câlin à Jessie",
              correct: true
            },
            {
              text: "Tu faisais un câlin au mur ._.",
              correct: false
            },
            {
              text: "Tu faisais des choses avec Arnaud et je vous demandais de sortir.",
              correct: false
            }
          ]
        },
        {
          author: "Mathias",
          question: "Quelle était la classe du premier perso de JDR que j'ai joué ?",
          answers: [
            {
              text: "Un paladin qui oublie de mourir",
              correct: false,
            },
            {
              text: "Un magicien de glace qui tombe en essayant de courir",
              correct: false
            },
            {
              text: "Un mage spé malédiction qui aveugle ses alliés",
              correct: false
            },
            {
              text: "Un rôdeur avec un loup qui va à la chasse aux champignons",
              correct: true
            }
          ]
        },
        {
          author: "Mathias",
          question: "Un jour on m'a dit la vie...",
          answers: [
            {
              text: "c'est de la merde.",
              correct: false,
            },
            {
              text: "c'est comme un oscillateur.",
              correct: true
            },
            {
              text: "c'est cool.",
              correct: false
            },
            {
              text: "c'est le gras.",
              correct: false
            }
          ]
        },
        {
          author: "Mathias",
          question: "Niveau chance, qu'est-ce qu'il NE m'est PAS arrivé ?",
          answers: [
            {
              text: "Recevoir un basse que j'avais commandée cassée, la renvoyer au SAV et recevoir à la place une meilleure basse par erreur.",
              correct: true,
            },
            {
              text: "Faire mon parcours de permis de conduire 1h avant le permis et repérer tous les pièges.",
              correct: false
            },
            {
              text: "Être champion d'Aquitaine de triathlon parce que tous ceux qui étaient meilleurs que moi étaient aux championnats de France ce week-end là.",
              correct: false
            },
            {
              text: "Avoir le même texte au bac blanc de français et au vrai bac.",
              correct: false
            }
          ]
        },
        {
          author: "Mathias",
          question: "Quel est le personnage avec lequel j'ai le plus de points de maîtrise sur LoL ?",
          answers: [
            {
              text: "Cho'gath",
              correct: false,
            },
            {
              text: "Morgana",
              correct: false
            },
            {
              text: "Ezreal",
              correct: true
            },
            {
              text: "Garen",
              correct: false
            }
          ]
        },
        {
          author:"Kiki",
          question:"De qui mon tout premier personnage de JDR était clairement une copie ?",
          answers: [
            {
              text:"Gray Fullbuster",
              correct: true,
            },
            {
              text:"Gimli",
              correct: false,
            },
            {
              text:"Sasuke Uchiwa",
              correct: false,
            },
            {
              text:"Obiwan Kenobi",
              correct: false,
            }
          ]
        },
        {
          author:"Kiki",
          question:"Qui t'a un jour dit : 'J'ai entendu quelque chose que je devais pas entendre ?' ?",
          answers: [
            {
              text:"Claude Augras",
              correct: false,
            },
            {
              text:"Mathi",
              correct: false,
            },
            {
              text:"Marie-Pierre Cazabonne",
              correct: true,
            },
            {
              text:"Ma mère (Laety)",
              correct: false,
            },
          ]
        },
        {
          author:"Kiki",
          question:"Quel est mon type de bière favorite ?",
          answers: [
            {
              text:"J'aime pas la bière c'est trop amer",
              correct: false,
            },
            {
              text:"La bière sans alcool",
              correct: false,
            },
            {
              text:"Les stout",
              correct: true,
            },
            {
              text:"La kro",
              correct: false,
            },
          ]
        },
        {
          author:"Kiki",
          question:"Quel à était la première musique ou l'ont à écrit les paroles ensemble avec Mathi ?",
          answers: [
            {
              text:"Poison",
              correct: true,
            },
            {
              text:"Alice",
              correct: false,
            },
            {
              text:"Red & white",
              correct: false,
            },
            {
              text:"Hotel California",
              correct: false,
            },
          ]
        },
        {
          author:"Ben",
          question:"Quelle glace mangions-nous (comme des gros) lors des aprèm Fullmetal dans ton appart à Périgueux ?",
          answers: [
            {
              text:"Nuit étoilée",
              correct: true,
            },
            {
              text:"Ciel éclairé",
              correct: false,
            },
            {
              text:"Fromage affiné",
              correct: false,
            },
            {
              text:"Lampe allumée",
              correct: false,
            },
          ]
        },
        {
          author:"Ben",
          question:"Quel était le nom de mon Defender du temps de Raiderz ? ",
          answers: [
            {
              text:"Kakaouette",
              correct: false,
            },
            {
              text:"Kiguya",
              correct: false,
            },
            {
              text:"Kikitoudur",
              correct: false,
            },
            {
              text:"Kyutai",
              correct: true,
            },
          ]
        },
        {
          author:"Ben",
          question:`Un Maître Yi faisant un Penta se vante d'un "gg ez" en /all tout en rengainant son sabre. Mais quel bruit fait ce dernier ?`,
          answers: [
            {
              text:"Slack!",
              correct: false,
            },
            {
              text:"Gwinsh!",
              correct: true,
            },
            {
              text:"Frrr!",
              correct: false,
            },
            {
              text:"Y'a que les sabres laser qui font des bruits chelous...",
              correct: false,
            },
          ]
        },
        {
          author:"Ben",
          question:`Me qualifierais-tu de fastueux ?`,
          answers: [
            {
              text:"Fastuquoi ?",
              correct: false,
            },
            {
              text:"Oui mais j'aime pas les harengs",
              correct: false,
            },
            {
              text:"Non, t'es pas aussi chiant qu'un mouton",
              correct: true,
            },
            {
              text:"Tempora mori, tempora mundis recorda.",
              correct: false,
            },
          ]
        }
      ]

    }
  },
  computed: {
    percent() {
      return ((this.currentQuestion + 1) / this.questions.length) * 100;
    }
  },
  mounted() {
    this.shuffle();
  },
  methods: {
    shuffle() {
      var array = this.questions;
      var currentIndex = array.length, temporaryValue, randomIndex;
      while (0 !== currentIndex) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      this.rendering = 1;
    },
    next() {
      if (this.currentQuestion + 1 === this.questions.length) {
          this.$router.push('/result')
        } else {
          this.currentQuestion++;
        }
    },
    back() {
      this.currentQuestion = 0;
    },
    checkAnswer(number) {
      if (this.questions[this.currentQuestion].answers[number].correct) {
        this.mySuccess = true;
        //this.next();
      } else {
        this.myError = true;
        //this.back();
      }
    }
  }
}
</script>
