<template>

  <v-card class="mx-auto" max-width="800">
    <v-card-title>
      <v-row justify="center">
        <p class="display-2 font-italic font-weight-light">Félicitations !</p>
      </v-row>
    </v-card-title>
    <v-card-text>
      <v-row align="center">
        <p class="text-justify body-1 text--primary">Tu es venu à bout des 20 questions ! Prends un screenshot de cette page et partage-la sur EveryPony comme preuve !</p>
      </v-row>
      <v-row>
        <p class="text-justify body-1 text--primary">Chaque question te rapporte 25 points ! Tu as donc cumulé 500 points ! Ce serait bien de pouvoir les transformer en euros...</p>
      </v-row>
      <v-row>
        <p class="text-justify body-1 text--primary">Nous sommes donc ravis de t'annoncer que nous avons réunis une cagnotte de <strong>500 €</strong> pour t'aider à payer ton nouvel ordi !</p>
      </v-row>
    </v-card-text>

  </v-card>
</template>

<script>
export default {
    name: 'ResultComponent',
    computed:{
        percent() {
            return 
        }
    },
    data: () => {
        return {}
    }
}
</script>
