<template>
  <v-app :style="{ backgroundImage: `url(${backgroundUrl})`, backgroundSize: 'cover' }">
    <v-content>
      <v-container fill-height>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import backgroundUrl from '@/assets/background.jpg';
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
    backgroundUrl: backgroundUrl
  }),
};
</script>
